/* 디자인 배너 */

/*  -------------------- 디자인 프로젝트 - 슬라이드  */
#wrap #design_project2{
    background-color: #FFFBEF;
    padding: 0 140px;
    margin: 0 auto;
}
#wrap #design_project2 .design_title_wrap{ /* 타이틀 묶음 */
    /* background-color: yellow; */
    display: flex;    
    flex-flow: row nowrap;
    margin-bottom: 70px;
}
#wrap #design_project2 .design_title_wrap img{}
#wrap #design_project2 .design_title_wrap h1{ /* 타이틀 - 인덱스 대제목 */
    font-size: 2rem;
    font-weight: 500;
    margin-top: 61px;
    margin-left: 23px;
    color: #0D1442;
}
/* contents 묶음*/
#wrap #design_project2 .contents {
    height: 640px; width: 1642px;
    display: flex;
    flex-flow: row nowrap;
    position: relative;
}

#wrap #design_project2 .contents .left{ /* 왼쪽 묶음 */
    /* background-color: palevioletred; */
    display: flex;
    flex-flow: column nowrap; 
    width: 1120px; 
    margin-right: 30px;
}
#wrap #design_project2 .contents .left .design1_banner{ /* 가로배너 */
    /* background-color: tomato; */
    width: 100%;
}
#wrap #design_project2 .contents .left .design1_banner .swiper-wrapper{
    
}
#wrap #design_project2 .contents .left .design1_banner .swiper-wrapper .swiper-slide {
    margin-bottom: 40px;
    cursor: pointer; /* 눌러지는 느낌을 줄수있음 */


}
#wrap #design_project2 .contents .left .design1_banner .swiper-wrapper .swiper-slide img {
    width: 100%; 
    border-radius:5px;
    object-fit: cover;
    height: 140px;
}

/* 왼쪽 2번째 슬라이드 */
#wrap #design_project2 .contents .left .design2_snsDetail{/* 카드뉴스 */
    /* background-color: yellow; */
    width: 100%; 
    margin-top: 40px;
}
#wrap #design_project2 .contents .left .design2_snsDetail .swiper-wrapper {
}
#wrap #design_project2 .contents .left .design2_snsDetail .swiper-wrapper .swiper-slide {
    cursor: pointer; /* 눌러지는 느낌을 줄수있음 */
    align-items: center;
}
#wrap #design_project2 .contents .left .design2_snsDetail .swiper-wrapper .swiper-slide img {
    width: 100%;
    border-radius:5px; 
    overflow: hidden;
}

#wrap #design_project2 .contents .right{/* 오른쪽 묶음 */
    width: 390px;
    margin-left: 30px;
    
}
#wrap #design_project2 .contents .right .design3_snsDetail{
    width: 100%; height: 600px;
    
}
#wrap #design_project2 .contents .right .design3_snsDetail .swiper-wrapper{
}
#wrap #design_project2 .contents .right .design3_snsDetail .swiper-wrapper .swiper-slide{
    cursor: pointer; /* 눌러지는 느낌을 줄수있음 */

}
#wrap #design_project2 .contents .right .design3_snsDetail .swiper-wrapper .swiper-slide img{
    width: 100%;
    border-radius:5px;
}


/* 팝업 */
#wrap #design_project2 .popup_bg{
    display: none;
    position: fixed; left: 0; top:0;
    z-index: 800;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%; height: 100%;
    padding-top: 100px;
    
}
#wrap #design_project2 .popup_bg .popup{
    width: 700px; margin: 0 auto;
    height: 80vh; overflow: auto;
}
#wrap #design_project2 .popup_bg .popup img{
    width: 100%;
}

/* 엔딩 */
#wrap #end {
    width: 100%; height: 100vh;
    background-color: #0D1442;
}
#wrap #end .end_wrap {
    width: 100%;
    height: 1000px;
    padding-top: 350px;
    margin: 0 auto;
    
}
#wrap #end h1 {
    /* background-color: yellow; */
    text-align: center;
    margin-bottom: 60px;
    /* padding-top: 100px; */
    padding-left: 30px;
}
#wrap #end h1 img{}
#wrap #end p{
    color: #fff;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 20px;
}